<template>
<div id="frameParameter">
    <div>
        <div> 
            <b-button @click="downloadall" size="sm" variant="outline-info">Download all data on iSATU Community</b-button>
        </div>
    </div>
</div>
</template>

<script>
import L from 'leaflet'
import axios from 'axios'
import moment from 'moment'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
export default {
  data () {
    return {
      markers: [],
      marker:null,
      items: [],
      fields:[
          {
            key: 'temperature',
            label: 'Temperature'
          },
          {
            key: 'humidity',
            label: 'Humidity'
          },
          {
            key: 'wind_speed',
            label: 'Wind Speed'
          },
          {
            key: 'wind_direction',
            label: 'Wind Direction'
          },
          {
            key: 'rainfall',
            label: 'Rain Fall'
          },
          {
            key: 'created_at',
            label: 'Sent At',
            formatter: value=>{
              return moment(value,'YYYY-MM-DDTHH:mm:ssZ').format('DD MMMM YYYY hh:mm:ss a')
            }
          }
        ],
      loc:'',
      profile:localStorage.getItem('name'),
      selected_device:'',
      owner:'',
      pages:1,
      map:null,
      isLoading: false,
      fullPage: true,
    }
  },
  components: {
            Loading
        },
  mounted() {
      this.initmap(),
      this.initmarker()
  },
  methods: {
    
    initmap(){
      this.isLoading = true
     this.map= L.map('maps').setView([-1.603794, 116.762587],5.2)
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'})
            .addTo(this.map)
    },
    initmarker(){
      const config = {
                    headers: {
                        'Authorization': localStorage.getItem('JSONWEBTOKEN'), //cookie.get('JSONWEBTOKEN')
                        'Content-Type': 'application/json'  
                    }
                }
    const deviceuri = 'https://isatudevapi.herokuapp.com/v1/devices'
            axios.get(deviceuri,config)
                .then(response=>{
                  this.isLoading = false
                  this.markers = response.data
                  let index
                  for ( var i=0; i < this.markers.length; i++ ){
                    this.marker = L.marker( [this.markers[i].latitude, this.markers[i].longitude] )
                    this.marker.bindPopup(this.markers[i].city, {
                      autoClose: true
                    })
                    this.map.addLayer(this.marker)
                    this.marker.on('click',this.onClick_Marker)
                    this.marker.properties = this.markers[i]
                  }
                  
                })
               .catch(err=>{
                  this.isLoading = false
                  const status = JSON.parse(err.response.status)
                  if (status == 401){
                    this.$router.push('/LoginPage')
                  }
                  if (status == 422){
                        alert("You Are Not Allowed")
                        localStorage.setItem('JSONWEBTOKEN',null)
                        this.$router.push('/LoginPage')
                  }
              })
    },
    onClick_Marker(e){
                this.isLoading = true
                    var marker = e.target
                    this.selected_device = marker.properties.devicekey
                    localStorage.setItem('selected_device_community',marker.properties.devicekey)
                    this.owner=marker.properties.name
                    this.loc=marker.properties.city
                    const config = {
                        headers: {
                            'Authorization': localStorage.getItem('JSONWEBTOKEN'), //cookie.get('JSONWEBTOKEN')
                            'Content-Type': 'application/json'  
                        }
                    }
                    const devuri = 'https://isatudevapi.herokuapp.com/v1/data/ondevice/'+this.selected_device+'/number/'+this.pages
                    axios.get(devuri,config)
                    .then(response=>{
                      this.isLoading = false
                      this.items = response.data
                    })
                    .catch(err=>{
                       this.isLoading = false
                        const status = JSON.parse(err.response.status)
                        if (status == 401){
                          this.$router.push('/LoginPage')
                        }
                        if (status == 422){
                          alert("You Are Not Allowed")
                        localStorage.setItem('JSONWEBTOKEN',null)
                        this.$router.push('/LoginPage')
                        }
                      })
                    },
    ondownload: function(event){
      this.isLoading = true
      const config = {
                    headers: {
                        'Authorization': localStorage.getItem('JSONWEBTOKEN'), //cookie.get('JSONWEBTOKEN')
                        'Content-Type': 'application/json'  
                    }
                }

                const downloaduri = 'https://isatudevapi.herokuapp.com/v1/download/data/on_device/'+localStorage.getItem('selected_device_community')
                axios.get(downloaduri,config)
                .then(response=>{
                  this.isLoading = false
                  const url = window.URL.createObjectURL(new Blob([response.data]));
                  const link = document.createElement('a');
                  link.href = url;
                  link.setAttribute('download', this.owner+'-device-data.csv'); //or any other extension
                  document.body.appendChild(link);
                  link.click();
               })
               .catch(err=>{
                 this.isLoading = false
                  const status = JSON.parse(err.response.status)
                  if (status == 422){
                    alert("You Are Not Allowed")
                        localStorage.setItem('JSONWEBTOKEN',null)
                        this.$router.push('/LoginPage')
                  }
                })
    },
    downloadall: function(event){
      this.isLoading = true
      const config = {
                    headers: {
                        'Authorization': localStorage.getItem('JSONWEBTOKEN'), //cookie.get('JSONWEBTOKEN')
                        'Content-Type': 'application/json'  
                    }
                }

                const downloaduri = 'https://isatudevapi.herokuapp.com/v1/download/data/all/devices'
                axios.get(downloaduri,config)
                .then(response=>{
                  this.isLoading = false
                  const url = window.URL.createObjectURL(new Blob([response.data]));
                  const link = document.createElement('a');
                  link.href = url;
                  link.setAttribute('download', 'all-device-data.csv'); //or any other extension
                  document.body.appendChild(link);
                  link.click();
               })
               .catch(err=>{
                 this.isLoading = false
                  const status = JSON.parse(err.response.status)
                  if (status == 422){
                    alert("You Are Not Allowed")
                    localStorage.setItem('JSONWEBTOKEN',null)
                    this.$router.push('/LoginPage')
                  }
                })
    },
    Onhome: function(event) {
          this.$router.push('/DashboardAdmin')
        },
      Oncommunity: function(event) {
          this.$router.push('/CommunityUser')
        },
    prev(event){
      this.isLoading = true
      var page = this.pages - 1 
      this.pages = page
      const config = {
                        headers: {
                            'Authorization': localStorage.getItem('JSONWEBTOKEN'), //cookie.get('JSONWEBTOKEN')
                            'Content-Type': 'application/json'  
                        }
                    }
                    const devuri = 'https://isatudevapi.herokuapp.com/v1/data/owndevice/'+localStorage.getItem('selected_device_community')+'/start/'+page
                    axios.get(devuri,config)
                    .then(response=>{
                      this.isLoading = false
                      this.items = response.data
                    })
                    .catch(err=>{
                      this.isLoading = false
                        const status = JSON.parse(err.response.status)
                        if (status == 401){
                          this.$router.push('/LoginPage')
                        }
                        if (status == 422){
                        alert("You Are Not Allowed")
                        localStorage.setItem('JSONWEBTOKEN',null)
                        this.$router.push('/LoginPage')
                        }
                      })
    },
    next(event){
      this.isLoading = true
      var page = this.pages + 1 
      this.pages = page
      const config = {
                        headers: {
                            'Authorization': localStorage.getItem('JSONWEBTOKEN'), //cookie.get('JSONWEBTOKEN')
                            'Content-Type': 'application/json'  
                        }
                    }
                    const devuri = 'https://isatudevapi.herokuapp.com/v1/data/owndevice/'+localStorage.getItem('selected_device_community')+'/start/'+page
                    axios.get(devuri,config)
                    .then(response=>{
                      this.isLoading = false
                      this.items = response.data
                    })
                    .catch(err=>{
                      this.isLoading = false
                        const status = JSON.parse(err.response.status)
                        if (status == 401){
                          this.$router.push('/LoginPage')
                        }
                        if (status == 422){
                          alert("You Are Not Allowed")
                        localStorage.setItem('JSONWEBTOKEN',null)
                        this.$router.push('/LoginPage')
                        }
                      })
    },
    signout:function(event){
      localStorage.setItem('JSONWEBTOKEN',null)
      this.$router.push('/LoginPage')
    },
  }
}
</script>

<style scoped>
#frameParameter {
    padding: 10px 10px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    z-index: 1;
    max-height: 200px;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    border-radius: 5px 5px 5px 5px;
    align-content: center;
    
}

</style>