<template>
    <div id="frameParameter">
              <b-table
                id="my-table"
                :fields="fields"
                :items="items"
                small
                outlined
                striped
                hover
                style="font-size:10px;">
              </b-table>
    </div>
</template>

<script>
export default {
     data () {
    return {
      markers: [],
      marker:null,
      items: [],
      fields:[
          {
            key: 'temperature',
            label: 'Temperature'
          },
          {
            key: 'humidity',
            label: 'Humidity'
          },
          {
            key: 'wind_speed',
            label: 'Wind Speed'
          },
          {
            key: 'wind_direction',
            label: 'Wind Direction'
          },
          {
            key: 'rainfall',
            label: 'Rain Fall'
          },
          {
            key: 'created_at',
            label: 'Sent At',
            formatter: value=>{
              return moment(value,'YYYY-MM-DDTHH:mm:ssZ').format('DD MMMM YYYY hh:mm:ss a')
            }
          }
        ],
      loc:'',
      profile:localStorage.getItem('name'),
      selected_device:'',
      owner:'',
      pages:1,
      map:null,
      isLoading: false,
      fullPage: true,
    }
  },
}
</script>

<style scoped>
#frameParameter {
    padding: 10px 10px;
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    z-index: 1;
    max-height: 200px;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    border-radius: 5px 5px 5px 5px;
    
}
</style>