<template>
    <div>
        <div class="vld-parent">
            <loading 
            :active.sync="isLoading"
            :is-full-page="fullPage">
            </loading>
        </div> 
        <div id="param">
            <h4 id="txtParameter">Latest weather data on your device</h4>
        </div>
        <div id="drpdwn">
            <b-dropdown :text="selected" size="sm" id="drpdwnleft" variant="light">
                <span v-bind="device in devices">
                <b-dropdown-item @click="onChange" style="font-size:12px" :data-id="device.id" :value="device.city" variant="dark">{{device.city}}</b-dropdown-item>
                </span>
            </b-dropdown>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
export default {
    components: {
        Loading,
    },
  data() {
    return {
    devices:[],
    selected:'Select your device',
    errors: '',
    isLoading: false,
    fullPage: true,
    }
  },
    mounted() {
    this.firstinit()
    const config = {
                    headers: {
                        'Authorization': localStorage.getItem('JSONWEBTOKEN'), //cookie.get('JSONWEBTOKEN')
                        'Content-Type': 'application/json'  
                    }
                }
    const deviceuri = 'https://isatudevapi.herokuapp.com/v1/devices/user'
            axios.get(deviceuri,config)
                .then(response=>{
                  this.isLoading = false
                  this.devices=response.data
               })
               .catch(err=>{
                  this.isLoading = false
                  const status = JSON.parse(err.response.status)
                })
    },
      methods:{
        firstinit(){
          this.isLoading = true
        },
        onChange: function(event) {
          event.preventDefault()
          this.isLoading = true
          localStorage.setItem('selected_dropdown_dashboarduser',event.target.getAttribute('value'))
          this.selected = localStorage.getItem('selected_dropdown_dashboarduser')
          this.selected = this.selected.substring(0,20)
          
          const config = {
                     headers: {
                        'Authorization':  localStorage.getItem('JSONWEBTOKEN'), //cookie.get('JSONWEBTOKEN'),
                        'Content-Type': 'application/json'
                    }
                }
          const data ={
                    device_id:event.target.getAttribute('data-id')
                }
          const uri = 'https://isatudevapi.herokuapp.com/v1/data/latest/ondevice'
          axios.post(uri, data,config)
          .then(response=>{
            this.isLoading = false
            if (response.data != null){this.latest_datum = response.data}
            if (response.data == null){this.latest_datum = ''}
          })
          .catch(err=>{
          })
       },
      }
  }

</script>

<style scoped>


#param {
    text-align:left;
    padding-top: 10px;
    
}

#txtParameter {    
    font-size: 16px;
}

#drpdwn {
    text-align:left;
}

#drpdwnleft {
    padding-bottom: 10px;
}
</style>