<template>
    <div>
        <div id="param">
            <h4 id="txtParameter">Profile User</h4>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>


#param {
    text-align:left;
    padding-top: 10px;
    
}

#txtParameter {    
    font-size: 16px;
}
</style>