<template>
    <div>
        <MenuNavbarTopAdmin/>
        <MenuNavbarBottomAdmin/>
        <b-container id="containerMenu">
            <DashboardAdminVerify/>
            <!-- <DashboardAdminDevice/> -->
            <!-- <DashboardAdminContainer/> -->
        </b-container>
    </div>
</template>

<script>
import DashboardAdminVerify from './DashboardAdmin Verify.vue'
// import DashboardAdminContainer from './DashboardAdmin Container.vue'
// import DashboardAdminDevice from './DashboardAdmin Device.vue'
import MenuNavbarBottomAdmin from '../MenuNavbarBottomAdmin.vue'
import MenuNavbarTopAdmin from '../MenuNavbarTopAdmin.vue'
export default {
    name: 'DashboardAdmin',
    components: {
        DashboardAdminVerify,
        // DashboardAdminContainer,
        // DashboardAdminDevice,
        MenuNavbarTopAdmin,
        MenuNavbarBottomAdmin
    }
}
</script>

<style scoped>
#containerMenu {
    background-color: #EBE9FF;
    width: 100%;
    padding: 0px 16px 80px;
    /* padding: 0px 0px 80px; */
    box-sizing: border-box;
    min-height: calc(-60px + 100vh);
    position: relative;
    top: 60px;
    max-width: 480px;
    margin: 0px auto;  
}
</style>