<template>
        <div id="mapParameter">
            <div id="cardDevice" class="card">
                <div id="bodyDevice" class="card-body">
                    <div class="card">
                        <div id="maps" style="z-index:1;height: 150px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
import L from 'leaflet'
import axios from 'axios'
import moment from 'moment'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
export default {
  data () {
    return {
      markers: [],
      marker:null,
      map:null,
    }
  },
  mounted() {
      this.initmap(),
      this.initmarker()
  },
   methods: {
    
    initmap(){
      this.isLoading = true
     this.map= L.map('maps').setView([-1.603794, 116.762587],5.2)
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'})
            .addTo(this.map)
    },
    initmarker(){
      const config = {
                    headers: {
                        'Authorization': localStorage.getItem('JSONWEBTOKEN'), //cookie.get('JSONWEBTOKEN')
                        'Content-Type': 'application/json'  
                    }
                }
    const deviceuri = 'https://isatudevapi.herokuapp.com/v1/devices'
            axios.get(deviceuri,config)
                .then(response=>{
                  this.isLoading = false
                  this.markers = response.data
                  let index
                  for ( var i=0; i < this.markers.length; i++ ){
                    this.marker = L.marker( [this.markers[i].latitude, this.markers[i].longitude] )
                    this.marker.bindPopup(this.markers[i].city, {
                      autoClose: true
                    })
                    this.map.addLayer(this.marker)
                    this.marker.on('click',this.onClick_Marker)
                    this.marker.properties = this.markers[i]
                  }
                  
                })
               .catch(err=>{
                  this.isLoading = false
                  const status = JSON.parse(err.response.status)
                  if (status == 401){
                    this.$router.push('/LoginPage')
                  }
                  if (status == 422){
                    alert("You Are Not Allowed")
                    this.$router.push('/DashboardUser')
                  }
              })
    },
    onClick_Marker(e){
                this.isLoading = true
                    var marker = e.target
                    this.selected_device = marker.properties.devicekey
                    localStorage.setItem('selected_device_admin',marker.properties.devicekey)
                    this.owner=marker.properties.name
                    this.loc=marker.properties.city
                    const config = {
                        headers: {
                            'Authorization': localStorage.getItem('JSONWEBTOKEN'), //cookie.get('JSONWEBTOKEN')
                            'Content-Type': 'application/json'  
                        }
                    }
                    const devuri = 'https://isatudevapi.herokuapp.com/v1/data/ondevice/'+this.selected_device+'/number/'+this.pages
                    axios.get(devuri,config)
                    .then(response=>{
                      this.isLoading = false
                      this.items = response.data
                    })
                    .catch(err=>{
                       this.isLoading = false
                        const status = JSON.parse(err.response.status)
                        if (status == 401){
                          this.$router.push('/LoginPage')
                        }
                        if (status == 422){
                          alert("You Are Not Allowed")
                          this.$router.push('/DashboardUser')
                        }
                      })
                    },
   }
}
</script>

<style scoped>
#frameParameter {
    
    padding: 10px 10px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    z-index: 1;
    max-height: 200px;
    height: 100%;
    width: 100%;
    
    text-overflow: ellipsis;
    border-radius: 10px 10px 10px 10px;
    
}

#cardDevice {
    width: 100%;
    height: 100%;
}

div#bodyDevice.card-body {
    padding-bottom: 10px;
    
}

div.card-body {
    padding: 10px;
}

</style>